.card {
  background-color: white;
  margin: 2em auto;
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5em;
  z-index: 99999;
  box-shadow: 0px 12px 54px -28px rgb(89 71 80 / 75%);
  background-image: linear-gradient(
    180deg,
    rgb(159, 42, 236) 0%,
    rgb(64, 48, 207) 100vh
  );
}

.card:first-child {
  margin-top: 0.5em;
}

.card h1 {
  font-size: 1.1em;
  /* color: var(--e-global-color-text); */
  color: white;
  border-bottom: 1px solid rgb(238, 235, 235);
}

.card p {
  font-size: 0.7em;
  margin-top: -0.5em;
  padding: 0 0.5em;
  /* color: var(--e-global-color-secondary); */
  color: white;
  font-weight: 500;
  text-align: center;
}

.card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1em;
}
