.test {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5em 0;
}

.test p {
  text-align: center;
  box-shadow: 0px 12px 54px -28px rgb(89 71 80 / 75%);
  margin: 0 2em;
  font-size: 0.7em;
  padding: 0.5em;
  color: var(--e-global-color-text);
  border-radius: 0.5em;
}

.level {
  display: flex;
  align-items: center;
  margin-left: 2em;
  margin-top: 2em;
}

.name {
  display: block;
  margin-left: 4.8em;
  margin-top: -1em;
}

.level img {
  border-radius: 50%;
}

.level h2 {
  font-size: 0.8em;
  margin-left: 0.4em;
  color: var(--e-global-color-text);
}

.name h4 {
  color: rgb(221, 120, 137);
  font-size: 0.6em;
  margin-left: 0.8em;
  margin-top: -1em;
}
